/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */

.tor.sheet .window-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ringbearer';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Ringbearer') format('ttf');
}

@font-face {
  font-family: 'Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Baskerville-BT.ttf') format('ttf');
}

/* ----------------------------------------- */
/*  GLOBAL VARIABLES                           
/* ----------------------------------------- */

:root {
  font-family: "Baskerville";
  font-size: 12px;
  --gold: #987639;
}


/* ----------------------------------------- */
/*  Element Styles                           */
/* ----------------------------------------- */


/* ----------------------------------------- */
/*  Sheet Navigation                          */
/* ----------------------------------------- */

.tor.sheet.hero .header-button.close {
  display: none;
}

.tor.sheet.hero .window-content form {
  padding: 0;
  background-image: url(../tor/ui/sheet-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tor.sheet.hero .sheet-navigation {
  position: relative;
  width: 100%;
  height: 36px;
  background-image: url(../tor/ui/navbar.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Ringbearer";
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
}

.tor.sheet.hero .sheet-navigation .close-button {
  background-image: url(../tor/ui/close-button.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 48px;
  height: 47px;
}

.tor.sheet.hero .sheet-navigation .nav-indicator {
  background-image: url(../tor/ui/navbar-guide.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 388px;
  height: 60px;
  transform: scale(0.54);
  z-index: 2;
  position: absolute;
  left: -85px;
  top: -14px;
  pointer-events: none;
}

.sheet-navigation .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sheet-navigation .item.active {
  color: var(--gold);
}