<form class="tor-dialog">
    <div class="flexrow">
        <label class="stat">Dados de Bônus/Penalidade</label>
        <input type="number" class="bonus">
    </div>
    <div class="form-group">
        <label class="stat">Utilizar Esperança</label>
        <input type="checkbox" class="usingHope" {{checked usingHope}}>
    </div>
    <div class="form-group">
        <label class="stat">Inspirado?</label>
        <input type="checkbox" class="inspired" {{checked inspired}}>
    </div>
    <div class="form-group">
        <label class="stat">Tipo de rolagem</label>
        <select name="">
            <option value="">Normal</option>
            <option value="">Favorecido</option>
            <option value="">Desfavorecido</option>
        </select>
    </div>

</form>