<div class="inventory">
    <div class="items-container">
        <div class="item-row header">
            <div class="left-content">
                <div class="title">Armas</div>
            </div>
            <div class="right-content">
                <div>{{localize config.itemStats.twoHanded}}</div>
                <div>{{localize config.itemStats.damage}}</div>
                <div>{{localize config.itemStats.injury}}</div>
                <div>{{localize config.itemStats.piercingBlow}}</div>
                <div>{{localize config.itemStats.load}}</div>
                <div>{{localize config.base.controls}}</div>
            </div>
        </div>
        {{#each weapons as |item id|}}
        <div class="item-row" data-item-id="{{item._id}}">
            <div class="left-content">
                <div class="item-image" style="background-image: url({{item.img}});"></div>
                <div>{{item.name}}</div>
            </div>
            <div class="right-content">
                <div>ÍCONE AQUI</div>
                <div>{{item.data.damage}}</div>
                <div>{{item.data.injury}}</div>
                <div>{{item.data.piercingBlow}}</div>
                <div>{{item.data.load}}</div>
                <div class="control-icons">
                    <a class="item-control item-toggle {{#if item.data.equiped}}active{{/if}}"><i
                            class="fas fa-shield-alt"></i></a>
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="items-container">
        <div class="item-row header">
            <div class="left-content">
                <div class="title">Equipamento de Proteção</div>
            </div>
            <div class="right-content">
                <div>{{localize config.itemStats.protection}}</div>
                <div>{{localize config.base.parry}}</div>
                <div>{{localize config.itemStats.load}}</div>
                <div>{{localize config.base.controls}}</div>
            </div>
        </div>
        {{#each armor as |item id|}}
        <div class="item-row" data-item-id="{{item._id}}">
            <div class="left-content">
                <div class="item-image" style="background-image: url({{item.img}});"></div>
                <div>{{item.name}}</div>
            </div>
            <div class="right-content">
                <div>{{item.data.protection}}</div>
                <div>{{item.data.parry}}</div>
                <div>{{item.data.load}}</div>
                <div class="control-icons">
                    <a class="item-control item-equip"><i class="fas fa-shield-alt"></i></a>
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="items-container">
        <div class="item-row header">
            <div class="left-content">
                <div class="title">Itens</div>
            </div>
            <div class="right-content">
                <div>{{localize config.itemStats.load}}</div>
                <div>{{localize config.base.controls}}</div>
            </div>
        </div>
        {{#each miscItems as |item id|}}
        <div class="item-row" data-item-id="{{item._id}}">
            <div class="left-content">
                <div class="item-image" style="background-image: url({{item.img}});"></div>
                <div>{{item.name}}</div>
            </div>
            <div class="right-content">
                <div>{{item.data.load}}</div>
                <div class="control-icons">
                    <a class="item-control item-edit"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>