<div class="resources_container">
  <div class="resource">
    <div class="title">Resistência</div>
    <div class="values">
      <input type="number" name="data.resources.endurance.current" value="{{data.resources.endurance.current}}">
      <span>/</span>
      <input type="number" name="data.resources.endurance.max" value="{{data.resources.endurance.max}}">
    </div>
    <div class="footer">
      <span>Atual</span>
      <span>Max</span>
    </div>
  </div>

  <div class="single resource">
    <div class="title">Carga</div>
    <input type="number" name="" value="10">
  </div>


  <div class="resource">
    <div class="title">Esperança</div>
    <div class="values">
      <input type="number" name="data.resources.hope.current" value="{{data.resources.hope.current}}">
      <span>/</span>
      <input type="number" name="data.resources.hope.max" value="{{data.resources.hope.max}}">
    </div>
    <div class="footer">
      <span>Atual</span>
      <span>Max</span>
    </div>
  </div>

  <div class="single resource">
    <div class="title">Sombra</div>
    <input type="number" name="" value="1">
  </div>

  <div class="single resource">
    <div class="title">Valor</div>
    <input type="number" name="" value="1">
  </div>

  <div class="single resource">
    <div class="title">Sabedoria</div>
    <input type="number" name="" value="1">
  </div>

</div>