<div class="resources_container">
  <div class="resource">
    <div class="title">Resistência</div>
    <div class="values">
      <input type="text" name="data.resources.endurance.current" value="{{data.resources.endurance.current}}">
      <span>/</span>
      <input type="text" name="data.resources.endurance.max" value="{{data.resources.endurance.max}}">
    </div>
    <div class="footer">
      <span>Atual</span>
      <span>Max</span>
    </div>
    <!-- <button>Descanso</button> -->
  </div>

  <div class="single resource">
    <div class="title">Carga</div>
    <input type="text" name="" value="10">
  </div>


</div>