<div class="skills-container">
    <div class="skill-column">
        {{#each config.strengthSkills as |name key|}}
        {{#with (lookup ../data.skills key) as |skill|}}
        <div class="skill">
            <div class="left">
                <a class="skill-control skill-favoured " data-skill="{{key}}">
                    <i class="far fa-circle {{#if skill.favoured}}active{{/if}}"></i>
                </a>
                <a><span>{{localize name}}</span></a>
            </div>
            <div class="score">
                <div class="diamond-score"></div>
                <div class="diamond-score"></div>
                <div class="diamond-score"></div>
                <div class="diamond-score"></div>
                <div class="diamond-score"></div>
                <div class="diamond-score"></div>
            </div>
        </div>
        {{/with}}
        {{/each}}
    </div>
    <div class="skill-column">

    </div>
    <div class="skill-column">

    </div>
</div>