<form class="{{cssClass}}" flexcol autocomplete="off">

  <!-- HEADER -->
  <header>
    <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

    <div class="stats_container">
      <div class="stats">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Nome" />
        <span class="header-stat">Nome da Cultura</span>
        <span class="header-stat">Nome do Chamado</span>
      </div>
      {{> "systems/tor/templates/actor/partials/resources.html"}}
    </div>


  </header>

  <!-- NAVIGATION -->
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="skills">Perícias</a>
    <a class="item" data-tab="features">Características</a>
    <a class="item" data-tab="inventory">Inventário</a>
    <a class="item" data-tab="effects">Efeitos</a>
    <a class="item" data-tab="background">História</a>
  </nav>



  <!-- BODY -->
  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="skills">
    </div>
    <div class="tab" data-group="primary" data-tab="features">
      {{> "systems/tor/templates/actor/partials/features.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="inventory">
      {{> "systems/tor/templates/actor/partials/inventory.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="effects">
    </div>
    <div class="tab" data-group="primary" data-tab="background">
    </div>
  </section>
</form>