<form class="{{cssClass}}" flexcol autocomplete="off">
  <header>
    <img width="100px" height="100px" class="header_img" src="{{item.img}}" title="{{item.name}}" data-edit="img">

    <div class="stats_container">

      <div class="row">
        <div class="stats">
          <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
          <span class="header-stat">{{itemType}}</span>
        </div>
      </div>
    </div>

  </header>

  <section class="sheet-body">

    <div class="description">
      {{editor content=data.description target="data.description" button=true editable=editable}}
    </div>

    <div class="flexcolumn">
      <div class="section-header">Características</div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.vigour}}</label>
        <input type="text" name="data.vigour" value="{{data.vigour}}">
      </div>

      <div class="form-group">
        <label class="stat">{{localize config.itemStats.minimumLiving}}</label>
        <select name="data.minimumLiving">
          {{#select data.minimumLiving}}
          <option value="">Selecionar</option>
          {{#each config.standardOfLiving as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
  </section>




</form>