<form class="{{cssClass}}" flexcol autocomplete="off">
  <header>
    <img width="100px" height="100px" class="header_img" src="{{item.img}}" title="{{item.name}}" data-edit="img">

    <div class="stats_container">

      <div>
        <div class="stats">
          <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
          <span class="header-stat">{{itemType}}</span>
        </div>
      </div>
    </div>

  </header>

  <section class="sheet-body">

    <div class="description">
      {{editor content=data.description target="data.description" button=true editable=editable}}
    </div>

    <div class="flexcolumn">
      <div class="section-header">Características</div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.load}}</label>
        <input type="number" name="data.load" value="{{data.load}}">
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.base.parry}}</label>
        <input type="number" name="data.parry" value="{{data.parry}}">
      </div>

      <div class="form-group">
        <label class="stat">{{localize config.itemStats.craftsmanship}}</label>
        <select name="data.craftsmanship">
          {{#select data.craftsmanship}}
          <option value="">Desconhecida</option>
          {{#each config.craftsmanship as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="section-header">Recompensas</div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.firstReward}}</label>
        <select name="data.rewards.first">
          {{#select data.rewards.first}}
          <option value="">Selecione</option>
          {{#each config.protectionRewards as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
  </section>

</form>