<form class="{{cssClass}}" flexcol autocomplete="off">
  <header>
    <img width="100px" height="100px" class="header_img" src="{{item.img}}" title="{{item.name}}" data-edit="img">
    <div class="stats_container">
      <div>
        <div class="stats">
          <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
          <span class="header-stat">{{itemType}}</span>
        </div>
      </div>
    </div>
  </header>

  <div class="description">
    {{editor content=data.description target="data.description" button=true editable=editable}}
  </div>




</form>