<form class="{{cssClass}}" flexcol autocomplete="off">
  <header>
    <img width="100px" height="100px" class="header_img" src="{{item.img}}" title="{{item.name}}" data-edit="img">

    <div class="stats_container">

      <div class="row">
        <div class="stats">
          <input name="name" type="text" value="{{item.name}}" placeholder="Nome" />
          <span class="header-stat">{{itemType}}</span>
        </div>
      </div>

      <div class="row">
        <div class="stats">
          <span class="header-stat">{{weaponGroup}}</span>
          <span class="header-stat">{{type}}</span>
        </div>
      </div>
    </div>

  </header>

  <section class="sheet-body">

    <div class="description">
      {{editor content=data.description target="data.description" button=true editable=editable}}
    </div>

    <div class="flexcolumn">
      <div class="section-header">Características</div>
      <div class="form-group">
        <label class="stat">{{localize config.base.proficiency}}</label>
        <select name="data.proficiency">
          {{#select data.proficiency}}
          <option value="">Selecione</option>
          {{#each config.proficiencies as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.base.type}}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          <option value="">Selecione</option>
          {{#each config.weaponTypes as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label class="stat">{{localize config.itemStats.damage}}</label>
        <input type="text" name="data.damage" value="{{data.damage}}">
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.injury}}</label>
        <input type="text" name="data.injury" value="{{data.injury}}">
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.piercingBlow}}</label>
        <input type="text" name="data.piercingBlow" value="{{data.piercingBlow}}">
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.load}}</label>
        <input type="text" name="data.load" value="{{data.load}}">
      </div>

      <div class="form-group">
        <label class="stat">{{localize config.itemStats.craftsmanship}}</label>
        <select name="data.craftsmanship">
          {{#select data.craftsmanship}}
          <option value="">Desconhecida</option>
          {{#each config.craftsmanship as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      
      <div class="section-header">Recompensas</div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.firstReward}}</label>
        <select name="data.rewards.first">
          {{#select data.rewards.first}}
          <option value="">Selecione</option>
          {{#each config.weaponRewards as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.secondReward}}</label>
        <select name="data.rewards.second">
          {{#select data.rewards.second}}
          <option value="">Selecione</option>
          {{#each config.weaponRewards as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label class="stat">{{localize config.itemStats.thirdReward}}</label>
        <select name="data.rewards.third">
          {{#select data.rewards.third}}
          <option value="">Selecione</option>
          {{#each config.weaponRewards as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
  </section>




</form>